openapi: 3.0.3
info:
  title: CSV2GEO Geocoding API
  description: |
    Fast, accurate geocoding API powered by 514M+ addresses and 72M+ places worldwide.

    ## Features
    - Forward geocoding (address → coordinates)
    - Reverse geocoding (coordinates → address)
    - Address validation, parsing, and standardization
    - Autocomplete for type-ahead search
    - Batch processing (up to 10,000 addresses per request)
    - **Places API** - Search 72M+ POIs (businesses, landmarks, restaurants)
    - **Divisions API** - 4.6M+ administrative boundaries (cities, counties, neighborhoods)
    - **Utilities** - Timezone lookup, distance calculations
    - Global coverage across 50+ countries with rooftop-level accuracy

    ## Authentication
    All requests require an API key. Include it as:
    - Query parameter: `?api_key=YOUR_KEY`
    - Header: `Authorization: Bearer YOUR_KEY`

    Get your API key at [csv2geo.com/api-keys](https://csv2geo.com/api-keys)

    ### API Key Permissions
    Each API key can have specific permissions:
    - `forward` - Forward geocoding (address → coordinates)
    - `reverse` - Reverse geocoding (coordinates → address)
    - `batch` - Batch processing (POST endpoints)
    - `places` - Places/POI search (search, nearby, categories)
    - `divisions` - Administrative boundaries (search, contains, subtypes)

    ## Rate Limits
    Rate limits are enforced per API key. Check response headers for your current usage:
    - `X-RateLimit-Limit` - Maximum requests per minute
    - `X-RateLimit-Remaining` - Requests remaining in current window
    - `X-RateLimit-Reset` - Unix timestamp when the window resets

    | Tier | Requests/min | Batch Size |
    |------|--------------|------------|
    | Free | 100 | 100 |
    | Starter | 1,000 | 1,000 |
    | Growth | 5,000 | 5,000 |
    | Pro | 10,000 | 10,000 |

    ## Customer URL is canonical
    Every path in this spec is a path on `https://csv2geo.com/api/v1/`. The
    underlying Go service uses slightly different internal paths (e.g.
    `/places/{id}`, `/divisions/{id}`); customers MUST use the customer paths
    shown here, which nest under `/by-id/{id}` for clarity.

    Sprint A (2026-05-09) closed the previously-tracked spec ↔ implementation
    gap: every path documented here is now reachable from the customer URL.
  version: 1.7.4
  contact:
    name: Scale Campaign
    url: https://csv2geo.com
    email: admin@csv2geo.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://csv2geo.com/api/v1
    description: Production server

security:
  - ApiKeyQuery: []
  - ApiKeyHeader: []

tags:
  - name: Geocoding
    description: Forward geocoding - convert addresses to coordinates
  - name: Reverse Geocoding
    description: Reverse geocoding - convert coordinates to addresses
  - name: Address Tools
    description: Validate, parse, standardize, and autocomplete addresses
  - name: Batch
    description: Batch processing for multiple addresses or coordinates
  - name: Places
    description: Search 72M+ POIs - businesses, landmarks, restaurants, and more
  - name: Divisions
    description: 4.6M+ administrative boundaries - cities, counties, neighborhoods, states
  - name: Coverage
    description: Per-country and aggregate dataset coverage statistics
  - name: Routing
    description: Valhalla-backed routing — turn-by-turn directions, isolines, matrices, map-matching, TSP optimization, snap-to-road, elevation. 5 transport modes (drive, walk, bike, truck, motorcycle). Pro plan and above.
  - name: IP Geolocation
    description: Submillisecond MaxMind GeoLite2 IP → city/region/county/ASN lookup. Bundled into every plan, including Free.
  - name: Maps
    description: Visual map services — vector tiles from the OpenStreetMap planet, ready-made MapLibre GL styles, and marker-pin icon rendering.
  - name: Utilities
    description: Timezone lookup, distance calculations, and system health

paths:
  /geocode:
    get:
      tags:
        - Geocoding
      summary: Geocode a single address
      description: Convert a single address to latitude/longitude coordinates
      operationId: geocodeSingle
      parameters:
        - name: q
          in: query
          required: true
          description: The address to geocode
          schema:
            type: string
          example: "1600 Pennsylvania Ave, Washington DC"
        - name: country
          in: query
          required: false
          description: Limit results to a specific country (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (1-5)
          schema:
            type: integer
            minimum: 1
            maximum: 5
            default: 1
        - name: format
          in: query
          required: false
          description: Response format
          schema:
            type: string
            enum: [full, simple]
            default: full
        - name: include
          in: query
          required: false
          description: |
            Comma-separated list of optional enrichments to inline into each result.
            Currently supported:
              * `meta` — adds a `division` block containing the containing locality's
                name, name_local, name_latin, subtype, population, wikidata, and
                one-level parent (region/county). No second API call needed.
              * `other_names` — adds a per-admin-level `other_names` map to each
                result: `{ "country": { "en": "Austria", "de": "Österreich", ... },
                "region": { ... }, "locality": { ... } }`. Source:
                `divisions.name_international` (1.5M divisions, ~78 langs avg).
                Composable with `?lang=` — primary fields reflect the requested
                language while this block carries the full translation map.
                Sprint 2.1d.
          schema:
            type: string
          example: "meta,other_names"
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag (e.g. `de`, `ja`, `zh-Hant`). When set, the
            embedded admin-level names in `components` (city, state, country,
            district) come back in the requested language using the
            `divisions.name_international` map (1.5M divisions across ~78
            languages on average). Street + house_number stay in source
            language because Overture has no address-level translation data.
            Sprint 2.1c — drop-in compatible with Geoapify's response shape.
          schema:
            type: string
          example: "de"
      responses:
        '200':
          description: Successful geocoding response
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum requests per minute
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Requests remaining in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when window resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponse'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_key:
                  summary: Missing API key
                  value:
                    error:
                      code: missing_api_key
                      message: "API key is required. Provide it via 'api_key' query parameter or 'Authorization: Bearer <key>' header."
                      status: 401
                invalid_key:
                  summary: Invalid API key
                  value:
                    error:
                      code: invalid_api_key
                      message: "Invalid API key provided."
                      status: 401
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: insufficient_permissions
                  message: "This API key does not have 'forward' geocoding permission."
                  status: 403
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until rate limit resets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: rate_limit_exceeded
                  message: "Rate limit exceeded. Please wait before making more requests."
                  status: 429
                  retry_after: 45

    post:
      tags:
        - Batch
      summary: Batch geocode multiple addresses
      description: Convert up to 10,000 addresses to coordinates in a single request
      operationId: geocodeBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGeocodeRequest'
      responses:
        '200':
          description: Successful batch geocoding response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGeocodeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /reverse:
    get:
      tags:
        - Reverse Geocoding
      summary: Reverse geocode a single coordinate
      description: Convert latitude/longitude coordinates to a human-readable address
      operationId: reverseSingle
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 38.8977
        - name: lng
          in: query
          required: true
          description: Longitude
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -77.0365
        - name: format
          in: query
          required: false
          description: Response format
          schema:
            type: string
            enum: [full, simple]
            default: full
        - name: include
          in: query
          required: false
          description: |
            Comma-separated list of optional enrichments. Combine with a comma:
              * `meta` — inline `division` block (locality name, population, wikidata, parent)
              * `places` — inline `nearby_places` array with the nearest POIs (id, name, category, distance_m)
            Example: `include=meta,places`
          schema:
            type: string
          example: "meta,places"
        - name: places_radius
          in: query
          required: false
          description: Search radius in meters for `?include=places`. Default 200, max 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag (e.g. `de`, `ja`, `zh-Hant`). Translates
            embedded admin-level names (city, state, country, district)
            using `divisions.name_international`. Sprint 2.1c.
          schema:
            type: string
          example: "de"
        - name: places_limit
          in: query
          required: false
          description: Max nearby places to return for `?include=places`. Default 5, max 20.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        '200':
          description: Successful reverse geocoding response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseGeocodeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Batch
      summary: Batch reverse geocode multiple coordinates
      description: Convert up to 10,000 coordinates to addresses in a single request
      operationId: reverseBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReverseRequest'
      responses:
        '200':
          description: Successful batch reverse geocoding response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReverseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /validate:
    get:
      tags:
        - Address Tools
      summary: Validate a single address
      description: Check if an address is valid and deliverable, with detailed validation results
      operationId: validateAddress
      parameters:
        - name: q
          in: query
          required: true
          description: The address to validate
          schema:
            type: string
          example: "1600 Pennsylvania Ave, Washington DC"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Batch
      summary: Batch validate multiple addresses
      description: Validate up to 10,000 addresses in a single request
      operationId: validateBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchValidateRequest'
      responses:
        '200':
          description: Batch validation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchValidateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /autocomplete:
    get:
      tags:
        - Address Tools
      summary: Autocomplete address input
      description: Get address suggestions as user types, optimized for type-ahead search
      operationId: autocomplete
      parameters:
        - name: q
          in: query
          required: true
          description: Partial address input
          schema:
            type: string
          example: "1600 Penn"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Maximum suggestions to return (1-10)
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
      responses:
        '200':
          description: Autocomplete suggestions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /parse:
    get:
      tags:
        - Address Tools
      summary: Parse address into components
      description: Break down a freeform address into structured components (street, city, state, etc.)
      operationId: parseAddress
      parameters:
        - name: q
          in: query
          required: true
          description: The address to parse
          schema:
            type: string
          example: "1600 Pennsylvania Avenue NW, Washington, DC 20500"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Parsed address components
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
        - Batch
      summary: Batch parse multiple addresses
      description: Parse up to 10,000 addresses into components in a single request
      operationId: parseBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchParseRequest'
      responses:
        '200':
          description: Batch parse results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchParseResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /standardize:
    get:
      tags:
        - Address Tools
      summary: Standardize address format
      description: Convert address to standardized USPS/postal format
      operationId: standardizeAddress
      parameters:
        - name: q
          in: query
          required: true
          description: The address to standardize
          schema:
            type: string
          example: "1600 penn ave washington dc"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Standardized address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardizeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/nearby:
    get:
      tags:
        - Geocoding
      summary: Find addresses near a location
      description: Search for addresses within a radius of a given coordinate
      operationId: nearbyAddresses
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude of center point
          schema:
            type: number
            format: double
          example: 38.8977
        - name: lng
          in: query
          required: true
          description: Longitude of center point
          schema:
            type: number
            format: double
          example: -77.0365
        - name: radius
          in: query
          required: false
          description: Search radius in meters (1-5000)
          schema:
            type: integer
            minimum: 1
            maximum: 5000
            default: 100
        - name: limit
          in: query
          required: false
          description: Maximum results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Nearby addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyAddressesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/street:
    get:
      tags:
        - Geocoding
      summary: Get all addresses on a street
      description: Retrieve all known addresses on a specific street
      operationId: streetAddresses
      parameters:
        - name: street
          in: query
          required: true
          description: Street name
          schema:
            type: string
          example: "Pennsylvania Avenue NW"
        - name: city
          in: query
          required: false
          description: City name
          schema:
            type: string
          example: "Washington"
        - name: state
          in: query
          required: false
          description: State/region
          schema:
            type: string
          example: "DC"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Maximum results (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Street addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreetAddressesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/stats:
    get:
      tags:
        - Geocoding
      summary: Get address database statistics
      description: Retrieve statistics about address coverage by country
      operationId: addressStats
      parameters:
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2) for country-specific stats
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Address statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/random:
    get:
      tags:
        - Geocoding
      summary: Get random addresses
      description: Retrieve random sample addresses, useful for testing and demos
      operationId: randomAddresses
      parameters:
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Number of random addresses (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Random addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RandomAddressesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/compare:
    get:
      tags:
        - Address Tools
      summary: Compare two addresses
      description: Check if two addresses refer to the same location
      operationId: compareAddresses
      parameters:
        - name: address1
          in: query
          required: true
          description: First address
          schema:
            type: string
          example: "1600 Pennsylvania Ave NW, Washington DC"
        - name: address2
          in: query
          required: true
          description: Second address
          schema:
            type: string
          example: "1600 Penn Ave, Washington, DC 20500"
      responses:
        '200':
          description: Comparison result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompareResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/interpolate:
    get:
      tags:
        - Geocoding
      summary: Interpolate address location
      description: Estimate coordinates for an address using range interpolation when exact match unavailable
      operationId: interpolateAddress
      parameters:
        - name: q
          in: query
          required: true
          description: The address to interpolate
          schema:
            type: string
          example: "1601 Pennsylvania Ave, Washington DC"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Interpolated address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterpolateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /addresses/crossstreet:
    get:
      tags:
        - Geocoding
      summary: Find cross street intersection
      description: Get the coordinates of an intersection between two streets
      operationId: crossStreet
      parameters:
        - name: street1
          in: query
          required: true
          description: First street name
          schema:
            type: string
          example: "Pennsylvania Avenue NW"
        - name: street2
          in: query
          required: true
          description: Second street name
          schema:
            type: string
          example: "17th Street NW"
        - name: city
          in: query
          required: false
          description: City name
          schema:
            type: string
          example: "Washington"
        - name: state
          in: query
          required: false
          description: State/region
          schema:
            type: string
          example: "DC"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Cross street intersection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossStreetResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /health:
    get:
      tags:
        - System
      summary: Health check
      description: Check API status and version
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  version:
                    type: string
                    example: "1.0.0"
                  timestamp:
                    type: string
                    format: date-time

  /me:
    get:
      tags:
        - Account
      summary: Account info
      description: Returns API key details including plan, permissions, and rate limits. Used for integration authentication validation (Zapier, Google Sheets, etc.).
      operationId: getAccountInfo
      responses:
        '200':
          description: Account information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: "Production Key"
                  plan:
                    type: string
                    example: "growth"
                  permissions:
                    type: array
                    items:
                      type: string
                    example: ["forward", "reverse", "batch", "places"]
                  rate_limit:
                    type: integer
                    example: 5000
                  status:
                    type: string
                    example: "active"
        '401':
          description: Invalid API key

  /places:
    get:
      tags:
        - Places
      summary: Search places by name
      description: |
        Search for points of interest (POIs) by name. Returns businesses, landmarks, and other places matching your query.

        Uses text search to match place names and brand names.
      operationId: searchPlaces
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (place name, brand, etc.)
          schema:
            type: string
          example: "starbucks"
        - name: category
          in: query
          required: false
          description: |
            Filter by category. Sprint 2.2a — accepts BOTH:
              * Leaf code (legacy): `coffee_shop`, `sushi_restaurant`, `restaurant`
              * Hierarchical dot path: `eat_and_drink`, `eat_and_drink.restaurant`,
                `eat_and_drink.restaurant.asian_restaurant.sushi_restaurant`
            When the value matches a non-leaf taxonomy node, the filter expands
            to all descendants. So `category=eat_and_drink.restaurant` returns
            ALL restaurants regardless of cuisine; `category=eat_and_drink`
            returns all food/drink venues. Source: Overture taxonomy
            (2,118 categories, 22 top-level groups, 1-4 depth levels).
            See `/v1/places/categories?include=taxonomy` for the full tree.
          schema:
            type: string
          example: "eat_and_drink.restaurant"
        - name: country
          in: query
          required: false
          description: Filter by country (ISO 3166-1 alpha-2). Defaults to "US"
          schema:
            type: string
            default: "US"
          example: "US"
        - name: filter
          in: query
          required: false
          description: |
            Geoapify-shape geographic filter. Accepts:
              * `rect:lon1,lat1,lon2,lat2` — bounding box (any 2 opposite corners)
              * `circle:lon,lat,radius_m` — radius in meters around a point
            When `filter` is set, neither `country` nor `city` is required.
            Sprint 2.2c.
          schema:
            type: string
          example: "circle:-73.9857,40.7580,500"
        - name: limit
          in: query
          required: false
          description: Maximum number of results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces each `name` with the Overture
            translation when available, falling back to base language then
            primary (Sprint 2.1b — 234K places across 17 langs).
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. Currently `other_names` — attaches the full
            translations map under `other_names` on each result.
          schema: { type: string, example: "other_names" }
      responses:
        '200':
          description: Successful search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesSearchResponse'
        '400':
          description: Bad request - missing query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: missing_query
                  message: "The 'q' parameter is required for place search"
                  status: 400
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/nearby:
    get:
      tags:
        - Places
      summary: Find places near a location
      description: |
        Search for places within a radius of a given location. Results are sorted by distance from the center point.

        Uses geospatial indexing for efficient nearby searches.
      operationId: nearbyPlaces
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude of center point
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 40.7128
        - name: lng
          in: query
          required: true
          description: Longitude of center point
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -74.0060
        - name: radius
          in: query
          required: false
          description: Search radius in meters (1-50000). Default is 1000m (1km)
          schema:
            type: integer
            minimum: 1
            maximum: 50000
            default: 1000
        - name: category
          in: query
          required: false
          description: Filter by category
          schema:
            type: string
          example: "restaurant"
        - name: limit
          in: query
          required: false
          description: Maximum number of results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces each `name` with the Overture
            translation when available (Sprint 2.1b — 234K places, 17 langs).
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `other_names` attaches the full translations map.
          schema: { type: string, example: "other_names" }
      responses:
        '200':
          description: Successful nearby search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesNearbyResponse'
        '400':
          description: Bad request - invalid coordinates or parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_coordinates:
                  summary: Missing coordinates
                  value:
                    error:
                      code: missing_coordinates
                      message: "Both 'lat' and 'lng' parameters are required"
                      status: 400
                invalid_latitude:
                  summary: Invalid latitude
                  value:
                    error:
                      code: invalid_latitude
                      message: "Latitude must be a number between -90 and 90"
                      status: 400
                invalid_longitude:
                  summary: Invalid longitude
                  value:
                    error:
                      code: invalid_longitude
                      message: "Longitude must be a number between -180 and 180"
                      status: 400
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/categories:
    get:
      tags:
        - Places
      summary: List available place categories
      description: |
        Returns all available place categories in the database. Use these values to filter searches by category.
      operationId: listCategories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/random:
    get:
      tags:
        - Places
      summary: Get random places
      description: Retrieve random sample places, useful for testing and demos
      operationId: randomPlaces
      parameters:
        - name: category
          in: query
          required: false
          description: Filter by category
          schema:
            type: string
          example: "restaurant"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Number of random places (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces each `name` with the Overture
            translation when available (Sprint 2.1b — 234K places, 17 langs).
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `other_names` attaches the full translations map.
          schema: { type: string, example: "other_names" }
      responses:
        '200':
          description: Random places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesSearchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/stats:
    get:
      tags:
        - Places
      summary: Get places database statistics
      description: Retrieve statistics about place coverage by country and category
      operationId: placesStats
      parameters:
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2) for country-specific stats
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Places statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/brands:
    get:
      tags:
        - Places
      summary: List available brands
      description: Get a list of all brand names in the database with place counts
      operationId: listBrands
      parameters:
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Maximum brands to return (1-500)
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: List of brands
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/chain:
    get:
      tags:
        - Places
      summary: Get all locations of a chain/brand
      description: Find all locations of a specific brand or chain (e.g., all Starbucks)
      operationId: chainPlaces
      parameters:
        - name: brand
          in: query
          required: true
          description: Brand name
          schema:
            type: string
          example: "Starbucks"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: state
          in: query
          required: false
          description: State/region filter
          schema:
            type: string
          example: "CA"
        - name: limit
          in: query
          required: false
          description: Maximum results (1-1000)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces each `name` with the Overture
            translation when available (Sprint 2.1b — 234K places, 17 langs).
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `other_names` attaches the full translations map.
          schema: { type: string, example: "other_names" }
      responses:
        '200':
          description: Chain locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/count:
    get:
      tags:
        - Places
      summary: Count places matching criteria
      description: Get count of places matching search criteria without returning full results
      operationId: countPlaces
      parameters:
        - name: category
          in: query
          required: false
          description: Filter by category
          schema:
            type: string
          example: "coffee_shop"
        - name: brand
          in: query
          required: false
          description: Filter by brand
          schema:
            type: string
          example: "Starbucks"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: state
          in: query
          required: false
          description: State/region filter
          schema:
            type: string
          example: "CA"
      responses:
        '200':
          description: Place count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/similar:
    get:
      tags:
        - Places
      summary: Find similar places
      description: Find places similar to a given place by category, location, or attributes
      operationId: similarPlaces
      parameters:
        - name: id
          in: query
          required: true
          description: Place ID to find similar places for
          schema:
            type: string
          example: "08f28a8f-8c8b-4896-815e-c92c8df0a8a6"
        - name: radius
          in: query
          required: false
          description: Search radius in meters (1-50000)
          schema:
            type: integer
            minimum: 1
            maximum: 50000
            default: 5000
        - name: limit
          in: query
          required: false
          description: Maximum results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces each `name` with the Overture
            translation when available (Sprint 2.1b — 234K places, 17 langs).
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `other_names` attaches the full translations map.
          schema: { type: string, example: "other_names" }
      responses:
        '200':
          description: Similar places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/batch:
    post:
      tags:
        - Batch
      summary: Batch lookup places by ID
      description: Retrieve multiple places by their IDs in a single request
      operationId: batchPlaces
      parameters:
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces each `name` with the Overture
            translation when available (Sprint 2.1b — 234K places, 17 langs).
            Forwarded as a query param even on this POST endpoint.
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `other_names` attaches the full translations map.
          schema: { type: string, example: "other_names" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPlacesRequest'
      responses:
        '200':
          description: Batch places response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/by-id/{id}:
    get:
      tags:
        - Places
      summary: Get place by ID
      description: |
        Retrieve detailed information about a specific place by its Overture ID.

        **Customer URL path is `/places/by-id/{id}`** (the underlying Go service
        uses `/places/{id}` internally; the Laravel proxy nests under `/by-id/`
        for clarity in the URL hierarchy).
      operationId: getPlace
      parameters:
        - name: id
          in: path
          required: true
          description: Place ID (Overture ID)
          schema:
            type: string
          example: "08f28a8f-8c8b-4896-815e-c92c8df0a8a6"
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces `name` with the Overture
            translation when available (Sprint 2.1b — 234K places, 17 langs).
          schema: { type: string, example: ja }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `other_names` attaches the full translations map.
          schema: { type: string, example: "other_names" }
      responses:
        '200':
          description: Place details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceDetailResponse'
        '404':
          description: Place not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions:
    get:
      tags:
        - Divisions
      summary: Search divisions by name
      description: |
        Search for administrative divisions (cities, counties, neighborhoods) by name.
        Uses text search to match division names.
      operationId: searchDivisions
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (division name)
          schema:
            type: string
          example: "los angeles"
        - name: subtype
          in: query
          required: false
          description: Filter by division type (locality, county, neighborhood, etc.)
          schema:
            type: string
          example: "locality"
        - name: country
          in: query
          required: false
          description: Filter by country (ISO 3166-1 alpha-2). Defaults to "US"
          schema:
            type: string
            default: "US"
          example: "US"
        - name: limit
          in: query
          required: false
          description: Maximum number of results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Successful search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsSearchResponse'
        '400':
          description: Bad request - missing query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: missing_query
                  message: "The 'q' parameter is required for division search"
                  status: 400
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/by-postcode:
    get:
      tags:
        - Divisions
      summary: Postcode → boundary (one-call)
      description: |
        Resolve a postcode + country code to its administrative division: bbox,
        polygon, population, Wikidata ID, parent admin chain — all in one
        nested response. The flagship one-call boundaries endpoint shipped in
        Sprint 1.

        Most other boundary APIs require two calls (geocode for an opaque
        place_id, then a separate fetch for the polygon). This endpoint gives
        you everything in a single billed request.
      operationId: divisionByPostcode
      parameters:
        - name: code
          in: query
          required: true
          description: Postcode / postal code. Country-aware normalization
            handles formats like "SW1A 1AA" (UK), "100-0001" (JP), "75001" (FR).
          schema: { type: string, example: "90210" }
        - name: country
          in: query
          required: true
          description: ISO 3166-1 alpha-2 country code.
          schema: { type: string, example: "US" }
        - name: include
          in: query
          required: false
          description: |
            Comma list. `geometry` adds the polygon at the requested precision;
            `other_names` attaches the full translations map (Sprint 2.1).
          schema: { type: string, example: "geometry,other_names" }
        - name: precision
          in: query
          required: false
          description: Polygon detail tier when include=geometry.
          schema: { type: string, enum: [low, med, full], default: med }
        - name: lang
          in: query
          required: false
          description: |
            BCP-47 language tag — replaces the division `name` with the
            Overture translation when available. Falls back to base language
            then to primary.
          schema: { type: string, example: de }
      responses:
        '200':
          description: Division resolved (with optional geometry + translations)
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: object
                    properties:
                      postcode: { type: string }
                      country:  { type: string }
                  result:
                    $ref: '#/components/schemas/DivisionResult'
                  meta:
                    $ref: '#/components/schemas/Meta'
        '400':
          description: Missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Postcode not found in the requested country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /coverage:
    get:
      tags:
        - Coverage
      summary: Per-country boundary coverage
      description: |
        Returns boundary tier (A/B), division count, and polygon count
        per country. Useful for showing which countries are deep-coverage
        (Tier A — addresses + boundaries) vs boundary-only (Tier B).
      operationId: coverage
      responses:
        '200':
          description: Per-country boundary coverage
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: object
                      properties:
                        code:      { type: string, description: ISO 3166-1 alpha-2 }
                        tier:      { type: string, enum: [A, B], description: A = addresses + boundaries; B = boundaries only }
                        divisions: { type: integer }
                        polygons:  { type: integer }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /coverage-stats:
    get:
      tags:
        - Coverage
      summary: Aggregate dataset stats
      description: |
        Returns top-level totals (addresses, places, countries) across the
        entire dataset, plus a per-country breakdown ordered by address count.
        Powers the homepage stats. No API key required (public endpoint).
      operationId: coverageStats
      security: []   # Public endpoint — no API key required
      responses:
        '200':
          description: Aggregate stats + per-country breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:         { type: boolean, example: true }
                  total_addresses: { type: integer, example: 460734720 }
                  total_places:    { type: integer, example: 46318120 }
                  total_countries: { type: integer, example: 39 }
                  countries:
                    type: array
                    description: Per-country breakdown, ordered by address count
                    items:
                      type: object
                      properties:
                        country:   { type: string, example: "United States" }
                        code:      { type: string, example: "US", description: ISO 3166-1 alpha-2 }
                        addresses: { type: integer, example: 121533307 }
                        formatted: { type: string, example: "121M" }
                        places:    { type: integer, example: 15521986 }
                        lat:       { type: number }
                        lng:       { type: number }
        '429':
          description: Anonymous rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/contains:
    get:
      tags:
        - Divisions
      summary: Find divisions near a location
      description: |
        Find administrative divisions near a given coordinate. Returns divisions sorted by distance.
        Useful for answering "What city/county/neighborhood is this location in?"
      operationId: divisionsContains
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude of the point
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 40.7128
        - name: lng
          in: query
          required: true
          description: Longitude of the point
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -74.0060
        - name: subtype
          in: query
          required: false
          description: Filter by division type
          schema:
            type: string
          example: "locality"
        - name: limit
          in: query
          required: false
          description: Maximum number of results (1-50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Successful lookup response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsContainsResponse'
        '400':
          description: Bad request - invalid coordinates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_coordinates:
                  summary: Missing coordinates
                  value:
                    error:
                      code: missing_coordinates
                      message: "Both 'lat' and 'lng' parameters are required"
                      status: 400
                invalid_latitude:
                  summary: Invalid latitude
                  value:
                    error:
                      code: invalid_latitude
                      message: "Latitude must be a number between -90 and 90"
                      status: 400
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/subtypes:
    get:
      tags:
        - Divisions
      summary: List available division subtypes
      description: |
        Returns all available division subtypes (e.g., country, region, county, locality, neighborhood).
        Use these values to filter searches by subtype.
      operationId: listSubtypes
      responses:
        '200':
          description: List of subtypes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsSubtypesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/countries:
    get:
      tags:
        - Divisions
      summary: List countries with coverage
      description: Get list of all countries in the database with division counts
      operationId: listCountries
      responses:
        '200':
          description: List of countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/stats:
    get:
      tags:
        - Divisions
      summary: Get divisions database statistics
      description: Retrieve statistics about division coverage by country and subtype
      operationId: divisionsStats
      parameters:
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2) for country-specific stats
          schema:
            type: string
          example: "US"
      responses:
        '200':
          description: Divisions statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsStatsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/random:
    get:
      tags:
        - Divisions
      summary: Get random divisions
      description: Retrieve random sample divisions, useful for testing and demos
      operationId: randomDivisions
      parameters:
        - name: subtype
          in: query
          required: false
          description: Filter by division type
          schema:
            type: string
          example: "locality"
        - name: country
          in: query
          required: false
          description: Country code (ISO 3166-1 alpha-2)
          schema:
            type: string
          example: "US"
        - name: limit
          in: query
          required: false
          description: Number of random divisions (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Random divisions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsSearchResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /divisions/hierarchy/{id}:
    get:
      tags:
        - Divisions
      summary: Get immediate sub-divisions (children)
      description: |
        Returns the immediate children of a division (entries with parent_division_id == :id).
        For the walk-UP "part-of" chain, use /divisions/ancestors/{id}.
      operationId: divisionHierarchy
      parameters:
        - name: id
          in: path
          required: true
          description: Division ID (Overture ID)
          schema:
            type: string
          example: "08f28a8f-8c8b-4896-815e-c92c8df0a8a6"
        - name: subtype
          in: query
          required: false
          description: Filter children by admin subtype
          schema:
            type: string
            example: county
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
      responses:
        '200':
          description: Division hierarchy
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HierarchyResponse' }
        '404':
          description: Division not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /divisions/ancestors/{id}:
    get:
      tags:
        - Divisions
      summary: Walk-up "part-of" chain (Sprint 1.8)
      description: |
        Walks `parent_division_id` from the input UP to the root, returning the
        ordered chain (input → parent → grandparent → ... → country).
        This is the true "boundaries/part-of" feature.
      operationId: divisionAncestors
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: include
          in: query
          description: Comma list — `geometry` for polygons per level,
            `other_names` to attach the full translations map per division (Sprint 2.1).
          schema: { type: string, example: "geometry,other_names" }
        - name: precision
          in: query
          description: Polygon detail tier when include=geometry.
          schema: { type: string, enum: [low, med, full], default: med }
        - name: max_depth
          in: query
          description: Hard cap on chain length (default 8, max 12).
          schema: { type: integer, default: 8, minimum: 1, maximum: 12 }
        - name: lang
          in: query
          description: BCP-47 language tag — replaces each `name` with the
            Overture `names.common[lang]` translation when available, else
            falls back to base language then to primary (Sprint 2.1).
          schema: { type: string, example: de }
      responses:
        '200':
          description: Ordered ancestor chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  depth: { type: integer }
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/DivisionResult' }
        '404':
          description: Division not found

  /divisions/children/{id}:
    get:
      tags:
        - Divisions
      summary: Children of a division (Sprint 1.8 — clearer-named alias of /divisions/hierarchy/{id})
      description: |
        Returns the immediate sub-divisions of a parent. Identical to
        /divisions/hierarchy/{id} when no geometry is requested. Adds polygon
        enrichment per child when ?include=geometry.
      operationId: divisionChildren
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: include
          in: query
          description: Comma list — `geometry` for polygons, `other_names`
            for translations (Sprint 2.1).
          schema: { type: string, example: "geometry,other_names" }
        - name: precision
          in: query
          schema: { type: string, enum: [low, med, full], default: med }
        - name: subtype
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
        - name: lang
          in: query
          description: BCP-47 language tag for localizing each child's `name` (Sprint 2.1).
          schema: { type: string, example: ja }
      responses:
        '200':
          description: Children list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HierarchyResponse' }

  /divisions/consolidated/{id}:
    get:
      tags:
        - Divisions
      summary: Consolidated entity lookup (Sprint 1.8)
      description: |
        Resolves either a canonical id (e.g. NYC) or a member id (any of
        Manhattan, Brooklyn, Queens, The Bronx, Staten Island) into the
        consolidated record — canonical division + members[] + matched_as.
        Source: curated Wikidata P150 mapping.
      operationId: divisionConsolidated
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: include
          in: query
          description: Comma list — `geometry` for canonical polygon, `other_names`
            for translations on canonical + members (Sprint 2.1).
          schema: { type: string, example: "geometry,other_names" }
        - name: precision
          in: query
          schema: { type: string, enum: [low, med, full], default: med }
        - name: lang
          in: query
          description: BCP-47 language tag — localizes both the canonical and
            member division names (Sprint 2.1).
          schema: { type: string, example: zh-Hant }
      responses:
        '200':
          description: Consolidated entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  canonical: { $ref: '#/components/schemas/DivisionResult' }
                  members:
                    type: array
                    items: { $ref: '#/components/schemas/DivisionResult' }
                  matched_as: { type: string, enum: [canonical, member] }
                  source: { type: string, example: wikidata-p150 }
        '404':
          description: Division is not part of any consolidated entity
        '503':
          description: consolidated_aliases collection not configured on this cluster

  /divisions/by-id/{id}:
    get:
      tags:
        - Divisions
      summary: Get division by ID
      description: |
        Retrieve detailed information about a specific division by its
        Overture ID. Customer URL nests under `/by-id/{id}` for consistency
        with `/places/by-id/{id}`; the underlying Go service uses the flatter
        `/divisions/{id}` path internally.
      operationId: getDivision
      parameters:
        - name: id
          in: path
          required: true
          description: Division ID (Overture ID)
          schema:
            type: string
          example: "08f28a8f-8c8b-4896-815e-c92c8df0a8a6"
      responses:
        '200':
          description: Division details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionDetailResponse'
        '404':
          description: Division not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /timezone:
    get:
      tags:
        - Utilities
      summary: Get timezone for coordinates
      description: Lookup the timezone for a given latitude/longitude
      operationId: getTimezone
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude
          schema:
            type: number
            format: double
          example: 40.7128
        - name: lng
          in: query
          required: true
          description: Longitude
          schema:
            type: number
            format: double
          example: -74.0060
      responses:
        '200':
          description: Timezone information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimezoneResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /distance:
    get:
      tags:
        - Utilities
      summary: Calculate distance between points
      description: Calculate the distance between two coordinates using the Haversine formula
      operationId: calculateDistance
      parameters:
        - name: lat1
          in: query
          required: true
          description: Latitude of first point
          schema:
            type: number
            format: double
          example: 40.7128
        - name: lng1
          in: query
          required: true
          description: Longitude of first point
          schema:
            type: number
            format: double
          example: -74.0060
        - name: lat2
          in: query
          required: true
          description: Latitude of second point
          schema:
            type: number
            format: double
          example: 38.8977
        - name: lng2
          in: query
          required: true
          description: Longitude of second point
          schema:
            type: number
            format: double
          example: -77.0365
        - name: unit
          in: query
          required: false
          description: Unit for distance (km, mi, m)
          schema:
            type: string
            enum: [km, mi, m]
            default: km
      responses:
        '200':
          description: Distance calculation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ip:
    get:
      tags:
        - IP Geolocation
      summary: IP → geolocation (city, region, county, ASN)
      description: |
        Submillisecond IP-to-location lookup using MaxMind GeoLite2.
        Residential and business IPs additionally get a county + locality
        derived from our division_areas polygons (Sprint 2.7). Anycast IPs
        (Google DNS, Cloudflare DNS, CDN edges) return country only and
        are flagged with `confidence: low`.

        **Bundled into every plan including Free** — zero marginal cost,
        local DB lookup, no third-party API call.
      operationId: ipLookup
      parameters:
        - name: ip
          in: query
          required: true
          description: IPv4 or IPv6 address
          schema:
            type: string
          example: "8.8.8.8"
      responses:
        '200':
          description: IP geolocation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPGeoResponse'
        '400':
          description: Missing or invalid `ip` parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ip/me:
    get:
      tags:
        - IP Geolocation
      summary: Geolocate the requester's own IP
      description: |
        Convenience endpoint that uses the IP address of the request itself
        (honoring `X-Forwarded-For` from trusted proxies). Otherwise identical
        to `GET /ip?ip=...`.
      operationId: ipLookupMe
      responses:
        '200':
          description: IP geolocation result for the requester
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPGeoResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ip/batch:
    post:
      tags:
        - IP Geolocation
      summary: Batch IP geolocation
      description: |
        Resolve up to 1000 IPs in a single request. Per-IP errors (invalid
        format etc.) are returned inline in `results` rather than failing
        the whole batch.
      operationId: ipLookupBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ips]
              properties:
                ips:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 1000
                  example: ["8.8.8.8", "1.1.1.1", "107.192.40.118"]
      responses:
        '200':
          description: Per-IP results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/IPGeoResponse'
        '400':
          description: Missing or invalid body (e.g. empty `ips`, more than 1000)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Routing (Sprint 2.4) ────────────────────────────────────────────────
  # All routing endpoints share a common authentication and response envelope.
  # Powered by a self-hosted Valhalla engine over the global OSM network.
  # Available on the Pro plan and above; routing calls count 1:1 against the
  # standard daily quota.
  /routing:
    get:
      tags:
        - Routing
      summary: Turn-by-turn route through 2+ waypoints
      description: |
        Compute a route through two or more waypoints and return the polyline,
        distance, duration, per-leg breakdown, and (optionally) turn-by-turn
        maneuvers. Supports up to 2 alternate routes per request.

        **Modes**: `drive`, `walk`, `bike`, `truck`, `motorcycle`.
        Truck mode additionally accepts `truck_height`, `truck_weight`,
        `truck_length`, `truck_width`, `truck_hazmat` so the engine avoids
        bridges, tunnels and roads that violate any constraint.

        **Time-aware**: pass `depart_at=YYYY-MM-DDTHH:MM:SSZ` (or `arrive_at`)
        to factor historical traffic into the estimated duration.
      operationId: route
      parameters:
        - name: waypoints
          in: query
          required: true
          description: |
            Pipe-delimited list of `lat,lng` pairs in visit order. Minimum 2,
            maximum 50 per request.
          schema:
            type: string
          example: "40.7128,-74.0060|34.0522,-118.2437"
        - name: mode
          in: query
          required: true
          description: Transport profile
          schema:
            type: string
            enum: [drive, walk, bike, truck, motorcycle]
            default: drive
        - name: units
          in: query
          required: false
          description: Output unit for distance fields
          schema:
            type: string
            enum: [km, mi]
            default: km
        - name: alternatives
          in: query
          required: false
          description: Number of alternate routes to compute (0-2)
          schema:
            type: integer
            minimum: 0
            maximum: 2
            default: 0
        - name: instructions
          in: query
          required: false
          description: Include turn-by-turn maneuvers in the response
          schema:
            type: boolean
            default: false
        - name: lang
          in: query
          required: false
          description: BCP-47 language code for turn-by-turn instructions (e.g. `en`, `de`, `es`, `fr`, `it`, `ja`)
          schema:
            type: string
            default: en
        - name: avoid
          in: query
          required: false
          description: |
            Comma-separated list of road features to avoid.
            Accepts `tolls`, `highways`, `ferries`, `tunnels`, `borders`.
          schema:
            type: string
          example: "tolls,ferries"
        - name: depart_at
          in: query
          required: false
          description: ISO-8601 departure time for time-aware routing
          schema:
            type: string
            format: date-time
          example: "2026-05-15T08:30:00Z"
        - name: arrive_at
          in: query
          required: false
          description: ISO-8601 arrival time (alternative to `depart_at`)
          schema:
            type: string
            format: date-time
        - name: truck_height
          in: query
          required: false
          description: Vehicle height in meters (truck mode only)
          schema:
            type: number
            format: double
          example: 4.2
        - name: truck_weight
          in: query
          required: false
          description: Vehicle weight in kilograms (truck mode only)
          schema:
            type: number
            format: double
          example: 22000
        - name: truck_length
          in: query
          required: false
          description: Vehicle length in meters (truck mode only)
          schema:
            type: number
            format: double
        - name: truck_width
          in: query
          required: false
          description: Vehicle width in meters (truck mode only)
          schema:
            type: number
            format: double
        - name: truck_hazmat
          in: query
          required: false
          description: Vehicle is carrying hazardous materials (truck mode only)
          schema:
            type: boolean
            default: false
        - name: format
          in: query
          required: false
          description: |
            Output geometry encoding. `geojson` (default) returns a LineString;
            `polyline` returns an encoded polyline-6 string.
          schema:
            type: string
            enum: [geojson, polyline]
            default: geojson
      responses:
        '200':
          description: Route computed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingResponse'
        '400':
          description: Invalid request (missing/malformed waypoints, unsupported mode, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing (upgrade to Pro)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /isoline:
    get:
      tags:
        - Routing
      summary: Reachable-area isoline (isochrone)
      description: |
        Return the polygon of everywhere reachable from a single point within
        a given time budget (or distance). Up to 3 ranges per call render
        layered drive-time / walk-time rings in one response.
      operationId: isoline
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          example: 40.7128
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          example: -74.0060
        - name: mode
          in: query
          required: true
          schema:
            type: string
            enum: [drive, walk, bike, truck, motorcycle]
        - name: ranges
          in: query
          required: true
          description: |
            Comma-separated list of range values. Up to 3 entries.
            Units are seconds when `type=time` (default), meters when
            `type=distance`.
          schema:
            type: string
          example: "300,600,900"
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [time, distance]
            default: time
        - name: denoise
          in: query
          required: false
          description: Smoothing factor (0-1). Higher values yield simpler polygons.
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.5
        - name: generalize
          in: query
          required: false
          description: Douglas-Peucker simplification tolerance in meters
          schema:
            type: number
            minimum: 0
      responses:
        '200':
          description: Isoline polygons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IsolineResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /route-matrix:
    post:
      tags:
        - Routing
      summary: Many-to-many distance + duration matrix
      description: |
        Compute distance and duration between every source and every target.
        Hard cap of 10,000 cells per request (e.g. 100×100 or 50×200).
        Truck attributes accepted at the request level — useful for fleet
        scheduling where the entire matrix shares one vehicle profile.
      operationId: routeMatrix
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RouteMatrixRequest'
      responses:
        '200':
          description: Matrix of distance + duration cells
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteMatrixResponse'
        '400':
          description: Bad request (e.g. >10,000 cells, missing sources or targets)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /map-match:
    post:
      tags:
        - Routing
      summary: Snap a noisy GPS trace to the road network
      description: |
        Submit a list of lat/lng points (optionally with timestamps and per-point
        accuracy estimates). The engine returns the cleaned line snapped to
        the most likely road segments plus per-point matched-road metadata.
        Up to 1,000 points per request.
      operationId: mapMatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapMatchRequest'
      responses:
        '200':
          description: Map-matched trace + per-point metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MapMatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /optimize_route:
    get:
      tags:
        - Routing
      summary: Multi-stop route optimization (TSP)
      description: |
        Reorder a list of waypoints to minimize total drive time (or walk/bike/
        truck time per `mode=`). Returns the optimized visit order plus the
        same response shape as `/v1/routing` for the resulting path.

        Set `roundtrip=true` to return to the origin after visiting all stops.
      operationId: optimizeRoute
      parameters:
        - name: waypoints
          in: query
          required: true
          description: 3+ `lat,lng` pairs pipe-delimited. First entry is treated as the origin.
          schema:
            type: string
          example: "40.7128,-74.0060|34.0522,-118.2437|29.7604,-95.3698"
        - name: mode
          in: query
          required: true
          schema:
            type: string
            enum: [drive, walk, bike, truck, motorcycle]
        - name: roundtrip
          in: query
          required: false
          description: Return to the origin after the last stop
          schema:
            type: boolean
            default: false
        - name: units
          in: query
          required: false
          schema:
            type: string
            enum: [km, mi]
            default: km
      responses:
        '200':
          description: Optimized visit order + route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizeRouteResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /locate:
    get:
      tags:
        - Routing
      summary: Snap a single point to the nearest road segment
      description: |
        Given a lat/lng, return the nearest road in the routable network
        along with its corrected coordinate, road name, class, and speed
        limit (where available).
      operationId: locate
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          example: 40.7128
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          example: -74.0060
        - name: mode
          in: query
          required: false
          description: Restrict snap to roads usable by the given mode
          schema:
            type: string
            enum: [drive, walk, bike, truck, motorcycle]
            default: drive
        - name: radius_m
          in: query
          required: false
          description: Maximum snap distance in meters
          schema:
            type: integer
            minimum: 1
            maximum: 5000
            default: 500
      responses:
        '200':
          description: Snapped point + road metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /elevation:
    get:
      tags:
        - Routing
      summary: Per-point elevation along a coordinate list
      description: |
        Return elevation (meters above sea level) for each input coordinate.
        Useful for computing climb / descent / gradient profiles along a
        route or a recorded GPS track.

        Up to 1000 points per request.
      operationId: elevation
      parameters:
        - name: points
          in: query
          required: true
          description: Pipe-delimited `lat,lng` pairs, or an encoded polyline-6 string
          schema:
            type: string
          example: "40.7128,-74.0060|40.7589,-73.9851"
        - name: units
          in: query
          required: false
          schema:
            type: string
            enum: [metric, imperial]
            default: metric
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [array, geojson]
            default: array
      responses:
        '200':
          description: Per-point elevation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElevationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plan does not include routing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /icon:
    get:
      tags:
        - Maps
      summary: Generate a marker pin PNG
      description: |
        Returns a styled map pin as PNG. Pure CPU rasterizer; no DB hit,
        no auth tier gate (bundled into every plan). Output is fully
        deterministic per URL so the response is cached at the CDN edge
        with a 1-year `Cache-Control` header.

        v1 supports Font Awesome 6 Free Solid icons from a curated
        168-icon catalog (`GET /v1/icon/catalog` for the full list).
        Material Design is a planned follow-up.
      operationId: icon
      parameters:
        - name: icon
          in: query
          required: true
          description: Icon name from the catalog (case-insensitive)
          schema:
            type: string
            example: "tree"
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [awesome]
            default: awesome
        - name: color
          in: query
          required: false
          description: Pin body color, hex `#rgb` or `#rrggbb` (leading `#` optional)
          schema:
            type: string
            default: "#ff3b30"
            example: "#52b74c"
        - name: size
          in: query
          required: false
          schema:
            type: string
            enum: [small, medium, large, x-large]
            default: medium
        - name: noWhiteCircle
          in: query
          required: false
[...]
